.env
/public/images/recipes/*
!/public/images/recipes/README.md
/node_modules



/ai_backend/tensorflow/*
!/ai_backend/tensorflow/README.md

# /ai_backend/tflite/*
# !/ai_backend/tflite/README.md


/public/ai_backend/uploads/*
!/public/ai_backend/uploads/README.md

/public/ai_backend/results/*
!/public/ai_backend/results/README.md

/public/ai_backend/weights/*
!/public/ai_backend/weights/README.md

/ai_backend/weights/*
!/ai_backend/weights/README.md

/ai_backend/core/__pycache__/*