<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Buscom - Multipurpose Business and Corporate Template">

    <title>KUBO</title>

    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/model-styles.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/elegant-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet" />


    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    
    

</head>

<body>
    

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 logo">
                    <a href="/">
                        <img src="assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <div class="col-md-9 address-info text-right">
                    <div class="info box">
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="flaticon-email"></i>
                                </div>
                                <div class="info">
                                    <span>Email</span> kuboph.dev@gmail.com
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="flaticon-call-center"></i>
                                </div>
                                <div class="info">
                                    <span>Phone</span> +63 968 6097 100
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default attr-border active-border logo-less small-pad navbar-sticky bootsnav">

            <div class="container">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul class="attr-nav">
                        <li><span><a href="/login">Login</a></span></li>
                    </ul>
                </div>        
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">AI Model</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">YoloV4</a></li>
                                <li><a href="#">YoloV4 Tiny</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Page Title 
    ============================================= -->
    <div class="page-title-area shadow dark bg-fixed text-center text-light" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>AI Model</h1>
                    <p>
                        You can try our Artificial Intelligence right here right now!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <!-- Start Tabs
    ============================================= -->

    <div class="tab-area bg-gray text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="tab breadcrumb">
                        <button class="tablinks" onclick="openModel(event, 'YoloV4')" id="defaultOpen">YoloV4</button>
                        <button class="tablinks" onclick="openModel(event, 'YoloV4Tiny')">YoloV4 Tiny</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="YoloV4" class="tabcontent">
        <div class="title">
            <h3>YoloV4</h3>

            <div id="try-again-wrapper">


            </div>

        </div>
        <section class="row">


            <div class="raw col-lg-6 col-md-12">
                <div class="image-box">
                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                    <h6>Drag & Drop File Here</h6>
                    <span>OR</span>
                    <button>Browse Image</button>
                    <input type="file" class="hidden" data-model="yolov4">
                </div>    
            </div>

            <div class="detected col-lg-6 col-md-12">
                <div class="image-box">
                </div>
            </div>
        </section>
    </div>
      
    <div id="YoloV4Tiny" class="tabcontent">
        <div class="title">
            <h3>YoloV4 Tiny</h3>

            <div id="try-again-wrapper">

            </div>

        </div>
        <section class="row">


            <div class="raw col-lg-6 col-md-12">
                <div class="image-box">
                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                    <h6>Drag & Drop File Here</h6>
                    <span>OR</span>
                    <button>Browse Image</button>
                    <input type="file" class="hidden" data-model="yolov4-tiny">
                </div>    
            </div>

            <div class="detected col-lg-6 col-md-12">
                <div class="image-box">
                </div>
            </div>
        </section>
    </div>
    <!-- End Tabs -->

    <!-- Start Model Area
    ============================================= -->
    <div></div>
    <!-- End Model Area -->

    <!-- Star Footer
    ============================================= -->
    <footer class="bg-dark">
        <div class="container">
            <div class="footer-content default-padding">
                <div class="row">

                    <div class="equal-height col-md-4 col-sm-6 item">
                        <div class="f-item about">
                            <h4 class="widget-title">About</h4>
                            <p>
                                Kubo, a mobile-based food planner, to guide people with lack of cooking experience gain confidence in the field of cooking by supplying them the necessary data needed to be done in accomplishing a certain cuisine.
                                The proposed system involves the integration of an AI for faster food preparation.
                            </p>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/kuboph.mla/"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/kuboph_mla"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/kuboph-dev-51254a23b/"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/KUBO-TEAM"><i class="fab fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-md-2 col-sm-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Navigation</h4>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/model">AI Model</a>
                                </li>
                                <li>
                                    <a href="/about">About</a>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright &copy; KUBO. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer-->


    <!-- JS Tabs 
    ============================================= -->
    <script>
        function openModel(evt, modelName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(modelName).style.display = "block";
          evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();
    </script>
    <!-- End JS Tabs-->



    <!-- jQuery 
    ============================================= -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/equal-height.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/circle-progress.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/model.js"></script>

</body>
</html>